* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    background-color: rgb(0, 0, 0);
}

header {
    padding: 0;
    margin: 0;
    align-items: center;
}

nav{
    padding: 0;
    margin: 0;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 0px; 
    padding: 3px; /* Поля вокруг текста */
}

h2 {
    padding: 0px;
    margin: 0px;
    background: #808080;
}
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw5aX8.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aX8.ttf) format('truetype');
}
body {
  
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.1" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

main {
    padding: 0;
    margin: 0;
}

h1 {
  padding: 0;
  margin:0;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px #558ABB;
}
a {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 10px;
  margin: 10px;
  position: relative;
  z-index: 1;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #444;
}

a.borders {
  color: #4a4a4a;
  transition: color 0.4s ease-in-out;
}
a.borders::before,
a.borders::after,
a.borders span::before,
a.borders span::after {
  position: absolute;
  content: '';
  background: #999;
  transition: all 0.4s ease-in-out;
}
a.borders::before,
a.borders::after {
  width: 2px;
}
a.borders::before {
  top: 0;
  left: 0;
  bottom: 70%;
}
a.borders::after {
  bottom: 0;
  right: 0;
  top: 70%;
}
a.borders span::before,
a.borders span::after {
  height: 2px;
  transition: all 0.4s ease-in-out;
}
a.borders span::before {
  top: 0;
  left: 0;
  right: 90%;
}
a.borders span::after {
  bottom: 0;
  right: 0;
  left: 90%;
}
a.borders:hover {
  color: #333;
  transition: color 0.4s ease-in-out;
}
a.borders:hover::before,
a.borders:hover::after,
a.borders:hover span::before,
a.borders:hover span::after {
  transition: all 0.4s ease-in-out;
  background: #333;
}
a.borders:hover::before {
  bottom: 0;
}
a.borders:hover::after {
  top: 0;
}
a.borders:hover span::before {
  right: 0;
}
a.borders:hover span::after {
  left: 0;
}
a.borders:active {
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
a.borders:active::before,
a.borders:active::after,
a.borders:active span::before,
a.borders:active span::after {
  transform: scale(0.85);
}

.footer {
    align-content: center;
}
 
